---
layout: default
title: Wyvern's Blog
---
<div id="content" class="center">
<section class="tc">
	<article>
		<ul>
        {% for category in site.categories %}
        <li><a href="/categories/{{ category |first }}/" title="{ category | first }｝ {{ category | last | size }}">{{ category | first }｝ {{ category | last | size }}</a>
        </li>
        {% endfor %}
   		 </ul>

	　　<ul>
	　　　　{% for post in site.posts %}
				<p><time> {{ post.date|date:"%Y-%m-%d"}}</time><a href="{{ site.baseurl }}{{post.categories.url}}">{{post.categories}}</a></p>
	　　　　　　<li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	　　　　{% endfor %}
	　　</ul>
	</article>
</section>
</div>
<aside class="tc">
	<h3>About me</h3>
</aside>
<footer class="tc">
        <p>Design by <a href="http://www.imwyvern.com" title="Wyvern" target="_blank">Wyvern</a> © 2013</p>
</footer>